body{
    background-color: #FF6978;
}
#all{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4%;
    height: 100vh;
    justify-content: center;
    background-color: #4B296B;
    box-shadow: 8px 8px 15px rgb(34, 33, 33);
    border-radius: 5px;
}
.all{
    background-color: #E2EF70;
    border-radius: 5px;
    padding: 1%;
    height: auto;
    box-shadow: 8px 8px 15px rgb(34, 33, 33);
    display: flex;
    flex-direction: column;
    align-items: center ;

}
.pJunior{
    color: darkgreen;    
    text-shadow: 8px 8px 15px rgba(0, 100, 0, 0.626);
}
.pMaster{
    color: darkblue;
    text-shadow: 8px 8px 15px rgba(148, 0, 211, 0.612);
}
.pSenior{
    color: darkviolet;
    text-shadow: 8px 8px 15px rgba(0, 0, 139, 0.658);
}
.rules{
    margin: 2%;
    display: flex;
    justify-content: space-evenly;
    font-family: fontX;
    color: #694873;
}
.titlePage{
    font-family: fontX;
    color: #E2EF70;
    text-shadow: 8px 8px 15px rgb(34, 33, 33);
    font-size: 19px;
}

/*INPUTS*/
#nome{
    display: inline-block;
    justify-content: space-evenly;
    width: 60vh;
}
#idade{
    display: inline-block;
    justify-content: space-evenly;
    width: 60vh;
}
.input{
    border-radius: 8px;
    border-style:solid;
    border-width: 2px;
    border-color: #694873;
    box-shadow: 8px 8px 15px #694873;
    height: 30px;
}
.input::placeholder{
    text-align: center;
    color: #241827;
}

/**/

/*BOTÕES*/

#btnInscritos{
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    border-style:solid;
    border-width:1.5px;
    border-color: #694873;
    box-shadow: 8px 8px 18px #694873cc;
 
    margin-top: 3%;
    font-family: fontX;
    width: 140px;   
    color: #241827;
    text-align: center;
    

}
#btnConfirmar{
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #694873;
    box-shadow: 8px 8px 18px #694873cc;
    
    margin-top: 15%;
    font-family: fontX;
    width: 140px;  
    color: #241827;
    text-align: center;
}

/**/

/*LISTAS*/
#allLists{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    display: none;
}
#listJ{
    background-color: rgb(192, 231, 192);
    border: 5px rgb(0, 100, 0) double;
    box-shadow: 8px 8px 18px rgb(172, 227, 172);
    border-radius: 10px;
    border-width: 3px;
    margin: auto;
    padding-left: 30px;
}
#listM{
    background-color: rgb(213, 213, 253);
    border: 5px DarkBlue double;
    box-shadow: 8px 8px 18px rgb(213, 213, 253);
    border-radius: 10px;
    border-width: 3px;
    margin: auto;
    padding-left: 30px;
}
#listS{
    background-color: rgb(238, 205, 253);
    border: 5px DarkViolet double;
    box-shadow: 8px 8px 18px rgb(238, 205, 253);
    border-radius: 10px;
    border-width: 3px;
    margin: auto;
    padding-left: 30px;
}
/**/

/*TITULO LISTAS*/
.titleListJ{
    font-family: fontX;
    color: darkgreen;
    margin: 10px;
}
.titleListM{
    font-family: fontX;
    color: darkblue;
    margin: 10px;
}
.titleListS{
    font-family: fontX;
    color: darkviolet;
    margin: 10px;
}


/**/



@font-face {
    font-family: fontX;
    src: url(./font.otf);
}
